.confirmation-modal {
    box-shadow: #000;
    background-color: #fff;
    border: 1px solid #000;
    width : 500px;
    max-width: 100%;
    padding: 16px 8px 0 8px;
    margin: auto;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    footer {
        background-color: rgb(43, 89, 187);
        color: #fff;
        padding: 2px;
        margin: 60px -8px 0 -8px;
        

    }

}